<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class ="bookings">

    <table id="myTable">
        <thead>
        <tr class="header">
            <th>Date of open booking</th>


        </tr>
        </thead>
        <tbody id="myTable2">
        <tr th:each="bookings: ${bookings}">
            <td th:text="${bookings.bookingStart}"/>
            <td th:hidden="${bookings.id}"/>
            <td>
                <a th:href="${'bookDetails/'+bookings.id}">Book this time!</a>
            <td/>
        </tr>

        </tbody>
    </table>
</div>

</body>
</html>